<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- 日志文件路径 -->
	<springProperty scope="context" name="logPath" source="logging.path"/>
	<!-- 应用名称 -->
	<springProperty scope="context" name="appName" source="spring.application.name"/>
	<!-- 多环境 -->
	<springProperty scope="context" name="scope" source="spring.profiles.active"/>
	
	<appender name="stdOut" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - [%msg]%n</pattern>
		</encoder>
	</appender>
	
	<appender name="fileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<append>true</append>
		<file>${logPath}/${scope}/${appName}.log</file>
        <encoder>
			<pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - [%msg]%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${logPath}/${scope}/${appName}.%d{yyyyMMdd}.log.zip</fileNamePattern>
        </rollingPolicy>
	</appender>
	
	<!-- 彩色日志 -->
	<!-- 彩色日志依赖的渲染类 -->
	<conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
	<conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter" />
	<conversionRule conversionWord="wEx" converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter" />
	<!-- 彩色日志格式 -->
	<property name="CONSOLE_LOG_PATTERN"
			  value="%clr(%d{yyyy-MM-dd HH:mm:ss}){blue} %clr(-%5level){green} %clr(${PID:- }){magenta} %clr([%15.15thread]){red} %clr(%-40.40logger{39}){cyan} %clr(>>){faint} %clr(%msg%n){green}" />
	<!-- Console 输出设置 -->
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${CONSOLE_LOG_PATTERN}</pattern>
			<charset>utf8</charset>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>debug</level>
			<onMatch>DENY</onMatch>
			<onMismatch>NEUTRAL</onMismatch>
		</filter>
	</appender>

	<appender name="debuglog" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>E:/log/log/log.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<FileNamePattern>E:/log/log/log-%d{yyyy-MM-dd}.%i.log</FileNamePattern>
			<MaxHistory>10</MaxHistory>
			<maxFileSize>20MB</maxFileSize>
			<totalSizeCap>2GB</totalSizeCap>
		</rollingPolicy>
		<encoder>
			<pattern>[%-5level] %d{HH:mm:ss.SSS} [%thread] %logger{36} - %msg%n</pattern>
			<charset>utf8</charset>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>debug</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>

	<appender name="warnlog" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>E:/log/warn/warn.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>E:/log/warn/warn-%d{yyyy-MM-dd}.log</FileNamePattern>
			<MaxHistory>10</MaxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>[%-5level] %d{HH:mm:ss.SSS} [%thread] %logger{36} - %msg%n</pattern>
			<charset>utf8</charset>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>warn</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>

	<appender name="errorlog" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>E:/log/error/error.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>E:/log/error/error-%d{yyyy-MM-dd}.log</FileNamePattern>
			<MaxHistory>10</MaxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>[%-5level] %d{HH:mm:ss.SSS} [%thread] %logger{36} - %msg%n</pattern>
			<charset>utf8</charset>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>error</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>


	<root >
		<appender-ref ref="CONSOLE"/>
		<appender-ref ref="debuglog"/>
		<appender-ref ref="warnlog"/>
		<appender-ref ref="errorlog"/>
	</root>

	<root level="info">
		<appender-ref ref="stdOut"/>
		<appender-ref ref="fileAppender"/>
	</root>


</configuration>
